footer{
    height: 35vh;
    img{
        height: 50px;
        width: 50px;
    }
    div{
        display: flex;
        justify-content: center;
        a{
            margin: 3rem;
        }
    }
}